.feedbackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: #fff;
  text-transform: uppercase;
  padding: 100px;
  margin-top: 20px;
  font-size: 20px;
  border: 1px solid #4169e1;
  border-radius: 50%;
  cursor: pointer;
}

.feedbackBtn:not(:last-child) {
  margin-right: 50px;
}
