.statistics {
  display: flex;
}

.statisticsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid #4169e1;
  border-radius: 50%;
  font-size: 15px;
  color: #fff;
  margin-right: 5px;
  margin-left: 5px;
}

.good {
  background-color: #008000;
}

.neutral {
  background-color: #d3d3d3;
}

.bad {
  background-color: #ff6347;
}

.total {
  color: #000;
}

.positiveFeedbackWrapper {
  overflow: hidden;
}

.positiveFeedback {
  font-size: 8px;
  color: #fff;
  background-color: #4169e1;
}
